<h3>New Form</h3>
<form class="" {{action 'submit' on='submit'}}>

  {{input value=name placeholder="enter a name"}}
  {{input value=description placeholder="enter a description"}}

  <button type="submit" name="button">Save</button>

  <button type="button" {{action 'cancel'}}>Cancel</button>

</form>
