<h3>New Form</h3>
<form class="" {{action 'submit' this on='submit'}}>

  {{input mut value=name placeholder="enter a name"}}
  {{input mut value=description placeholder="enter a description"}}

  <button type="submit" name="button">Save</button>

  <button type="button" {{action 'cancel'}}>Cancel</button>

</form>
